

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <div class="container d-flex justify-content-between" style="margin-top: 20px">
        <h1> Your Macros Plan: </h1>
        <%= link_to new_macro_path do %><i class="fas fa-plus-square" style="font-size: 40px; color: #283c63"></i><% end %>
      </div>

      <table class="table table-hover" style="margin-top: 20px">
        <thead>
          <tr class="table-info" style="color: white">
            <th scope="col"></th>
            <th scope="col" style="color: white">Protein</th>
            <th scope="col" style="color: white">Carbs</th>
            <th scope="col" style="color: white">Fats</th>
            <th scope="col" style="color: #404b69">Edit</th>
            <th scope="col" style="color: #404b69">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @macro.each do |macro| %>
          <tr>
            <th scope="row"><%= macro.name %></th>
            <td><%= macro.protein.to_i %></td>
            <td><%= macro.carbs.to_i %></td>
            <td><%= macro.fats.to_i %></td>
            <td><%= link_to edit_macro_path(macro) do %><i class="fas fa-pen"> </i><% end %>
              <td>
                <% if @macro.count > 1 %>
                  <%= link_to macro_path(macro), method: :delete do %>
                    <i class="fas fa-trash"> </i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end%>
          </tbody>
        </table>

      </div>
    </div>
  </div>
