<div class="container text-center">
  <h5>Welcome <%= "#{@orders.first.user.first_name} #{@orders.first.user.last_name}" %></h5>
  <h6 class="text-size-ten"> (Checkout the details of your past meal orders) </h6>
  <div class="border my-2 py-2">
    <h6><span class="text-size-twelve">Your default macros is </span> <%= @orders.first.user.default_macro.name %></h6>
    <div>
      <% dtotal = 0 %>
      <div class="d-flex justify-content-around mx-5 px-2">
        <div class="h-circle h-p">
          <%= @orders.first.user.default_macro.protein %>
          <% dtotal += @orders.first.user.default_macro.protein * 4 %>
        </div>
        <div class="h-circle h-c">
          <%= @orders.first.user.default_macro.carbs %>
          <% dtotal +=  @orders.first.user.default_macro.carbs * 4 %>
        </div>
        <div class="h-circle h-f">
          <%= @orders.first.user.default_macro.fats %>
          <% dtotal +=  @orders.first.user.default_macro.fats * 9 %>
        </div>
        <div class="text-size-twelve">
          = <%= dtotal %> kcal
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% # for collapse id %>
  <% id = 96 %>

  <% @orders.each do |order| %> <% id += 1 %>
    <div class="card mb-3 radius">
      <div class="pl-3">
        <p class="text-right pr-2"><%= order.created_at.to_date %></p>
        <div class=""> <%= cl_image_tag order.order_dishes.first.dish.eatery.photo.key, height: 40, width: 40, crop: :fill, class: 'h-logo' %> </div>
        <div class="d-flex">
          <h6 class="h-title"><%= order.order_dishes.first.dish.eatery.name %></h6>
          <div class="h-pen pl-4">
            <a class="btn btn-sm" data-toggle="collapse" href=<%= "##{id.chr}"%> role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-chevron-circle-down"></i>
            </a>
          </div>
        </div>

          <div class="container border-top py-2">
            <div class="collapse" id=<%= "#{id.chr}"%>>
              <table class="history-table pt-3 pb-3 text-center text-size-sixteen vertical-align-top">
                <tr class="text-size-twelve">
                  <th class="td-width"><u>Dish</u></th>
                  <th class="td-width"><u>Qty</u></th>
                  <th class="td-width"><u>Macros</u></th>
                  <th class="td-width"><u>kcal</u></th>
                  <th><u>Total</u></th>    
                </tr>

                <% # declare for total add up of macros %>
                <% totalp = 0 %> <% totalc = 0 %> <% totalf = 0 %> <% totalcal = 0 %> <% totalprice = 0 %>

                <% order.order_dishes.each do |dish| %>
                  <tr class="text-size-twelve border-bottom">
                    <td><%= dish.dish.name %></td>
                    <td><%= dish.quantity %></td>
                    <td>
                      <div class="d-flex">
                        <div class="h-circle h-p">
                          <%= dish.dish.protein * dish.quantity %>
                        </div>
                        <div class="h-circle h-c">
                          <%= dish.dish.carbs * dish.quantity %>
                        </div>
                        <div class="h-circle h-f">
                          <%= dish.dish.fats * dish.quantity %>
                        </div>
                      </div> 
                      
                      <% # add up for total macros %>
                      <% totalp += dish.dish.protein * dish.quantity %>
                      <% totalc += dish.dish.carbs * dish.quantity %>
                      <% totalf += dish.dish.fats * dish.quantity %>

                    </td>
                    <td>
                      <div class="">
                        <%= ((dish.dish.protein * 4)+(dish.dish.carbs * 4)+(dish.dish.  fats * 9)) * dish.quantity %>

                        <% # add up on total kcal %>
                        <% totalcal += ((dish.dish.protein * 4)+(dish.dish.carbs * 4)+(dish.dish.  fats * 9)) * dish.quantity %>
                      </div>
                    </td>
                    <td>
                      <%= humanized_money_with_symbol (dish.quantity.to_i * dish.dish.price.to_f) %>
                      <% totalprice += dish.quantity.to_i * dish.dish.price.to_f %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
            <div class="text-center text-size-sixteen container pl-0 pt-2">
              <div class="text-size-twelve row justify-content-between">
                <div class="">Total macros:</div>

                <div class="d-flex">
                  <div class="h-circle h-p">
                    <%= totalp %>
                  </div>
                  <div class="h-circle h-c">
                    <%= totalc %>
                  </div>
                  <div class="h-circle h-f">
                    <%= totalf %>
                  </div>
                </div> 

                <div><%= totalcal %> kcal</div>
              </div>
              <div class="text-size-twelve row justify-content-between mt-1">
                <div>Total spent:</div>
                <div><%= humanized_money_with_symbol (totalprice) %></div>
              </div>
            
            </div>
          </div>


      </div>
    </div>
  <% end %>
</div>




