
<div class="container text-center">
<h5>Payment to:</h5>
<h4><%= @order.eatery.name %></h4>
<h6 class="text-size-ten">at <%= @order.eatery.address %></h6>
</div>


<div class="container text-center">
  <div class=" justify-content-center py-2">
    <div class="">
      <% if (@order.dine_in) %>
        <div class="">Dine-in Order</div>
      <% else %>
        <div class="">Take-away Order</div>
      <% end %>
    </div>

    <div class="">
      <h4>Order #<%= @order.id %><span class="pending p-2 ml-3"><%= @order.state %></span></h4>
        
  <!--       <p>Estimated delivery in <strong>2 business days</strong></p> -->
      <h6 class="text-size-ten"><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></h6>
      <h4><%= link_to "Pay the order", new_order_payment_path(@order), class: "btn btn-primary" %></h4>
    </div>
  </div>
</div>

<div class="container border-sign">
  <table class="pt-3 pb-3 text-center text-size-sixteen vertical-align-top">
    <tr class="text-size-fourteen">
      <th class="td-width"><u>Dish</u></th>
      <th class="td-width"><u>Qty</u></th>
      <th class="td-width"><u>Each</u></th>
      <th><u>Total</u></th>    
    </tr>
    <% @order.order_dishes.each do |order_dish| %>
    <tr>
      <td>
        <img src="<%=cl_image_path order_dish.dish.photo.key%>" alt="dish_image" width="100" height="75" class="dish-photo"><br>
        <p class="text-size-twelve"> <%= order_dish.dish.name %> </p>
      </td>
      <td><%= order_dish.quantity %></td>
      <td><%= humanized_money_with_symbol order_dish.dish.price %></td>
      <td><%= humanized_money_with_symbol (order_dish.quantity.to_i * order_dish.dish.price.to_f) %></td>
    </tr>
    <% end %>
  </table>
</div>

  <div class="d-flex justify-content-end mb-4 pt-3">
    <strong>TOTAL AMOUNT: </strong> 
    <span class="pl-4 pr-4"><%= humanized_money_with_symbol @order.amount %></span>
  </div>
</div>