

<div class="banner p-3" style="background-image: url(https://as1.ftcdn.net/jpg/03/09/90/26/500_F_309902682_6Skuz4I4IjOBqHEdbQXam6tUbV5hVZLR.jpg);">
  <div class="container">
    <div class="col-sm-6 p-3" style="background-color: #ff4e60; color:white; border-radius: 10px; margin-top: 15px">

      <h1>Welcome to the <strong>Macrotery</strong>!</h1>
      <p style="color: #283c63"> Eat healthier and happier is just one click away! </p>
      <div class="container">
        <%= link_to 'Explore', dishes_path, class:'btn', style:'background-color: #99b898; color: white; border-radius: 22px' %>
      </div>
    </div>
  </div>
</div>


<div class="index-container">

      <h2 class="text-center" id="index-h2"> As Easy As This </h2>

      <div class='cards'>

        <div class="index-card">
          <%= image_tag "fitness.jpg" %>
          <h4> 1. Tailored<br> Plan </h4>
          <p> Set up macros plan for your daily meals.</p>
        </div>

        <div class="index-card">
          <%= image_tag "good_food.jpg"%>
          <h4> 2. Simple <br> Search </h4>
          <p>For delicious food nearby per your macros.</p>
        </div>

        <div class="index-card">
          <%= image_tag "takeaway4.jpg" %>
          <h4> 3. Advanced <br> Order </h4>
          <p>No more waiting in the eateries!</p>
        </div>

      </div>
    </div>
  </div>

<div class="container intro">
  <h3 class="text-center">Macros 3 Key Elements</h3>
  <%= image_tag "macros3.jpg" %>
  <%= image_tag "macros.png" %>
</div>
