<%= javascript_pack_tag 'eatery_show', 'data-turbolinks-track': 'reload', defer: true %>


<h2> Welcome to <%= @eatery.name %> </h2>

<%= cl_image_tag dish.dish_image.key, class:'p-image', height: 200, width: 200, crop: :fill %>

<% @eatery.dishes.each do |dish| %>
    <div>

    <div class="eatery-card card bg-dark text-white w-85 mt-3 mb-3 dish_card">
        <div class="card-content w-100 pb-2">
            <div class="description pl-2">
                <h5 class="card-title mb-1"> <%= dish.name %> </h5>
                <p class="card-text"> <%= dish.description %> </p>
            </div>
            <div class="dis-flex pr-2">
                <p class="card-text price"> <%= number_to_currency(dish.price) %> </p>
            </div>
        </div>
        <h4 class="tick">✅</h4>
        <div class="dis-flex ml-2 mt-2">
            <h4 class="plus font-weight-bold quantity pr-4">+</h4>
            <h4 class="num font-weight-bold quantity">1</h4>
            <h4 class="minus font-weight-bold quantity pl-4">-</h4>
        </div>       
        <div class="protein circle"> <%= dish.protein %> </div>
        <div class="carb circle"> <%= dish.carbs %> </div>
        <div class="fat circle"> <%= dish.fats %> </div>
        <div class="card-btn"></div>
    </div>
    </div>

<% end %>

