<%= javascript_pack_tag 'eatery_show', 'data-turbolinks-track': 'reload', defer: true %>

<div class="heading mt-4">
  <img class="img" src='<%= cl_image_path @eatery.photo.key %>' alt='eatery_logo'>
  <div>
    <h2 class="pl-4"> Welcome to <%= @eatery.name %> </h2>
    <div class="location">
      <img src='https://www.pinclipart.com/picdir/middle/579-5790258_location-logo-png-hd-images-location-logo-png.png'>
      <h6 class="pl-4"> location: <%= @eatery.address %> </h6>
    </div>
  </div>
</div>

<div class="flex-center mt-4" data-controller="total" data-action="total-change->total#handleUpdate"
data-total-amount="0">
  

  <%= form_for Order.new, url: orders_path, method: "post", local: true, html: { 
    novalidate: true
     } do %>
    <% @eatery.dishes.each do |dish| %>
      <div data-controller="order">
        <div class="eatery-card card bg-dark text-white w-85 mt-3 mb-3 dish_card" style="background-image: url('<%=cl_image_path dish.photo.key%>');">
            <div class="card-content w-100 pb-2">
              <div class="description pl-2">
                  <h5 class="card-title mb-1"> <%= dish.name %> </h5>
                  <p class="card-text"> <%= dish.description %> </p>
              </div>
              <div class="dis-flex pr-2">
                  <p class="card-text price" data-target="order.price" data-unit-price="<%= dish.price %>"> <%= number_to_currency(dish.price) %> </p>
              </div>
            </div>
            <h4 class="tick">✅</h4>
            <div class="dis-flex ml-2 mt-2">
              <h4 class="font-weight-bold pr-4" data-action="click->order#increase">+</h4>
              <h4 clasors="num font-weight-bold " data-target="order.quantitylabel"></h4>
              <h4 class="font-weight-bold pl-4" data-action="click->order#decrease">-</h4>
            </div>
            <div class="protein circle" data-target="order.protein" data-unit-protein="<%= dish.protein %>"> <%= dish.protein %> </div>
            <div class="carb circle" data-target="order.carbs" data-unit-carbs="<%= dish.carbs %>"> <%= dish.carbs %> </div>
            <div class="fat circle" data-target="order.fats" data-unit-fats="<%= dish.fats %>"> <%= dish.fats %> </div>
            <div class="card-btn" data-action="click->order#handleClick"></div>
        </div>

        <div class="checkbox">
          <%= check_box_tag "order_dishes[#{dish.id}][id]", dish.id, false, data: { target: "order.checkbox" } %>
        </div>
        <div class="data">
          <%= number_field_tag("order_dishes[#{dish.id}][quantity]", 0, data: {
            action: 'change->order#handleChange',
            target: 'order.quantity'
          }, min: 1, class: "d-none") %>
        </div>
      </div>
    <% end %>
    <div class="d-flex justify-content-between mb-5">
      <div class="d-flex pt-2 align-middle">
        <h3 class="pr-3">Total Price</h3>
        <h2 data-target="total.totalprice"><%= number_to_currency(0) %></h2>
      </div>
      <%= submit_tag("Confirm order", class: 'btn btn-primary btn-lg') %>
    </div>
  <% end %>


</div>

  
  
  
  