<%= javascript_pack_tag 'eatery_show', 'data-turbolinks-track': 'reload', defer: true %>

<div class="heading mt-4 container-500 mx-auto">
  <img class="img" src='<%= cl_image_path @eatery.photo.key %>' alt='eatery_logo'>
  <div>
    <h5 class="pl-4"> Welcome to <%= @eatery.name %> </h5>
    <div class="location">
      <img src='https://www.pinclipart.com/picdir/middle/579-5790258_location-logo-png-hd-images-location-logo-png.png' class="pl-4">
      <h6 class="pl-4 text-size-ten"> location: <%= @eatery.address %> </h6>
    </div>
  </div>
</div>

<div class="mt-4" data-controller="total" data-action="total-change->total#handleUpdate"
  data-total-amount="0" data-total-allprotein="0" data-total-allcarbs="0" data-total-allfats="0">

  <%= form_for Order.new, url: orders_path, method: "post", local: true, html: {
    novalidate: true
  } do |f| %>
  <%= hidden_field_tag 'eatery_id', @eatery.id %>
  <% @eatery.dishes.each do |dish| %>
  <div data-controller="order" class="container-500 mx-auto">
    <div class="eatery-card card bg-dark text-white w-85 mt-3 mb-3 dish_card" style="background-image: url('<%=cl_image_path dish.photo.key%>'); background-size: cover; background-position: center center;">
      <div class="card-content w-100">
        <div class="description pl-2">
          <h5 class="text-size-sixteen mb-1"> <%= dish.name %> </h5>
        </div>
        <div class="pr-2">
          <p class="price" data-target="order.price" data-unit-price="<%= dish.price %>"> <%= number_to_currency(dish.price) %> </p>
        </div>
      </div>

      <% # + 1 - %>
      <div class="dis-flex ml-2 mt-2">
        <h4 class="font-weight-bold pl-2 pr-4" data-action="click->order#increase" data-target="order.addlabel"></h4>
        <h4 clasors="font-weight-bold " data-target="order.quantitylabel"></h4>
        <h4 class="font-weight-bold pl-4 pr-2" data-action="click->order#decrease" data-target="order.minuslabel"></h4>
      </div>

      <% # red green yellow macros %>
      <div class="protein circle" data-target="order.protein" data-unit-protein="<%= dish.protein %>"> <%= dish.protein %> </div>
      <div class="carb circle" data-target="order.carbs" data-unit-carbs="<%= dish.carbs %>"> <%= dish.carbs %> </div>
      <div class="fat circle" data-target="order.fats" data-unit-fats="<%= dish.fats %>"> <%= dish.fats %> </div>
      <div class="card-btn" data-action="click->order#handleClick" data-target="order.btn"></div>
      <div data-target="order.dis" class=""></div>
      <div data-target="order.tick" class="notick">✓</div>
    </div>

    <div class="checkbox d-none">
      <input type="checkbox" data-target="order.checkbox">
    </div>
    <div class="d-none">
      <%= number_field_tag("order_dishes[#{dish.id}][quantity]", 0, data: {
        action: 'change->order#handleChange',
        target: 'order.quantity'
      }, min: 1, class: "d-none") %>
      <div data-target="order.add"></div>
      <div data-target="order.minus"></div>
    </div>
  </div>
  <% end %>


  <div class="blank"></div>
  <div class="sticky-bottom">
    <div class="total mx-auto">
      <h6>
        Total Macros:
        <a id="warning" data-toggle="collapse" href="#your-macros" role="button" aria-expanded="false" aria-controls="your-macros">
          <i class="fas fa-exclamation-triangle"></i>
        </a>
      </h6>
      <div>
        <div class="macro protein circle" data-target="total.totalprotein"> 0 </div>
        <div class="macro carb circle" data-target="total.totalcarbs"> 0 </div>
        <div class="macro fat circle" data-target="total.totalfats"> 0 </div>
      </div>
      <% if @fats && @carbs && @protein %>
        <div class="collapse py-3" id="your-macros" data-target="total.yourMacros">
          You have exceeded your selected macros of
          <span data-target="total.userProtein"><%=@protein%></span> g protein,
          <span data-target="total.userCarbs"><%=@carbs%></span> g carbs,
          and <span data-target="total.userFats"><%=@fats%></span> g fat!
        </div>
      <% end %>
      <div class="d-flex justify-content-between pt-1">
        <h6 class="pr-3">Total Price: </h6>
        <h4 data-target="total.totalprice"><%= number_to_currency(0) %></h4>
      </div>
      <div class="d-flex justify-content-around radio-div-ht">
        <input class="mt-1" type="radio" id="dine_in" name="order[dine_in]" value="1" checked>
        <label class="mar radio-label text-size-twelve" for="dine_in">Dine In</label>
        <input class="mt-1" type="radio" id="take_away" name="order[dine_in]" value="0">
        <label class="mar radio-label text-size-twelve" for="take_away">Take Away</label>

        <div class="d-flex justify-content-center">
          <%= f.submit "Proceed to order", class: 'btn btn-sm btn-primary px-1', disabled: true, data: { target: 'total.orderBtn' }, id: 'orderBtn' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
