<div data-controller="macros">
  <div>
    Your macros are: 
      <span data-target="macros.userProtein"><%=@macro[:protein]%> g protein</span>, 
      <span data-target="macros.userCarbs"><%=@macro[:carbs]%> g carbs</span>,
      <span data-target="macros.userFats"><%=@macro[:fats]%> g fats</span>,
      <span data-target="macros.userCalories"><%=@macro[:calories]%> kcal calories</span>
    <div data-target="advancedSearch" class="d-none">
      <h5>Filter by</h5>
      Cuisine
    </div>
  </div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="pk.eyJ1IjoicGVsaWN1bGFyaXRpZXMiLCJhIjoiY2tlZHFqNm0wMHY1czJ2c2JzMzd4cTRuYSJ9.3Evpdh8tMIOiSN4zVwzAIg">
  </div>

  <div>
    <form id="custom-macros">
      <label for="protein">Protein: </label>
      <input type="text" id="protein" name="protein" size="3" data-target="macros.protein">
      <label for="carbs">Carbs: </label>
      <input type="text" id="carbs" name="carbs" size="3" data-target="macros.carbs">
      <label for="fats">Fats: </label>
      <input type="text" id="fats" name="fats" size="3" data-target="macros.fats">
      <input type="submit" id="search" data-action="">
    </form>
  </div>

  <h2>Suggested Dishes</h2>
  <div id="display-dishes" data-target="macros.displayDishes">
    <% @dishes.each do |dish| %>
      <ul><%= link_to "#{dish.name} from #{dish.eatery.name}", eatery_path(dish.eatery) %>
        <li>Protein: <%=dish.protein%> g</li>
        <li>Carbs: <%=dish.carbs%> g</li>
        <li>Fats: <%=dish.fats%> g</li>
        <li>Cal: <%=dish.calories%> kcal</li>
      </ul>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'search', defer: true %>