<div data-controller="macros">
  <div class="container my-3 border">
    <div class="row">
      <div class="col-12 col-md-6 p-3">
        <h5>Your search criteria</h5>
        Your <span data-target="macros.name"><%=@macro.name unless @macro[:name].nil?%></span> macros: 
        <ul>
          <li data-target="macros.userProtein"><%=@macro[:protein]%> g protein</li>
          <li data-target="macros.userCarbs"><%=@macro[:carbs]%> g carbs</li>
          <li data-target="macros.userFats"><%=@macro[:fats]%> g fats</li>
          <li data-target="macros.userCalories"><%=@macro[:calories]%> kcal calories</li>
        </ul>
      </div>
      <div class="col-12 col-md-6 p-3 border-left">
        <div>
          <form id="search-form">
            Choose preset macros:
            <select id="macro" name="macro" class="form-control" data-target="macros.select" data-action="change->macros#changeMeal">
            <option value="0">-- Select macros --</option>
              <% @macros.each do |macro| %>
                <option value="<%=macro.id%>"><%=macro.name%></option>
              <% end %>
            </select>
            <table class="my-3">
              <tr>
                <td><label for="protein">Protein: </label></td>
                <td><input type="number" id="protein" name="protein" value="<%=@macro[:protein]%>" min="0" data-target="macros.protein" data-action="change->macros#refresh"></td>
              </tr>
              <tr>
                <td><label for="carbs">Carbs: </label></td>
                <td><input type="number" id="carbs" name="carbs" value="<%=@macro[:carbs]%>" min="0" data-target="macros.carbs" data-action="change->macros#refresh"></td>
              </tr>
              <tr>
                <td><label for="fats">Fats: </label></td>
                <td><input type="number" id="fats" name="fats" value="<%=@macro[:fats]%>" min="0" data-target="macros.fats" data-action="change->macros#refresh"></td>
              </tr>
            </table>
          </form>
        </div>

      </div>
    </div>
  </div>

  

  <ul class="nav nav-pills mb-3" id="results-select" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="results-list-tab" data-toggle="pill" href="#results-list" role="tab" aria-controls="results-list" aria-selected="true">List</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="results-map-tab" data-toggle="pill" href="#results-map" role="tab" aria-controls="results-map" aria-selected="false">Map</a>
    </li>
  </ul>
  <div class="tab-content" id="results-content">
    <h2>Suggested Dishes</h2>
    <div class="tab-pane fade show active" id="results-list" role="tabpanel" aria-labelledby="results-list-tab">

      <% @dishes.each do |dish| %>
        <div data-target="macros.dishImage" class="eatery-card card bg-dark text-white w-85 mt-3 mb-3 dish_card" style="background: url('<%=cl_image_path dish.photo.key%>'); background-size: cover; background-position: center center">
          <div class="card-content w-100 pb-2">
            <div class="description pl-2">
              <h5 data-target="macros.dish" class="card-title mb-1"> <%= dish.name %> </h5>
              <p class="card-text"> <%= dish.description %> </p>
            </div>
            <div class="dis-flex pr-2">
              <p class="card-text price"> <%= number_to_currency(dish.price) %> </p>
            </div>
          </div>
          <div> <%= cl_image_tag dish.eatery.photo.key, height: 50, width: 50, crop: :fill, class: 'circle' %> </div>
          <div class="protein circle"> <%= dish.protein %> </div>
          <div class="carb circle"> <%= dish.carbs %> </div>
          <div class="fat circle"> <%= dish.fats %> </div>
        </div>

      <% end %>

    </div>
    <div class="tab-pane fade" id="results-map" role="tabpanel" aria-labelledby="results-map-tab">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%=ENV["MAPBOX_API_KEY"]%>">
      </div>
    </div>
  </div>
</div>
