<div class="container text-center">
<h5>Checkout Summary</h5>
<h4 class="text-size-twelve">Your order will be sent to <%= @order.eatery.name %> upon payment confirmed.</h4>
</div>

<div class="container border-sign">
  <table class="pt-3 pb-3 text-center text-size-sixteen vertical-align-top">
    <tr class="text-size-twelve">
      <th class="td-width"><u>Dish</u></th>
      <th><u>Qty</u></th>
      <th><u>Each</u></th>
      <th><u>Total</u></th>    
    </tr>
    <% @order.order_dishes.each do |order_dish| %>
    <tr class="text-size-twelve">
      <td>
        <p> <%= order_dish.dish.name %> </p>
      </td>
      <td><%= order_dish.quantity %></td>
      <td><%= humanized_money_with_symbol order_dish.dish.price %></td>
      <td><%= humanized_money_with_symbol (order_dish.quantity.to_i * order_dish.dish.price.to_f) %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="d-flex justify-content-end mb-4 pt-3">
  <strong>TOTAL AMOUNT: </strong> 
  <span class="pl-4 pr-4"><%= humanized_money_with_symbol @order.amount %></span>
</div>

<div class="d-flex justify-content-center">
  <button id="pay" class="btn btn-primary">Pay now</button>
</div>


<!--   # Commented for the lecture, remove comments. -->
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
